*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter, sans-serif;
}

body{
background:#0f172a;
color:#e5e7eb;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
padding:18px 8%;
background:#020617;
border-bottom:1px solid #1e293b;
}

.navbar a{
color:#94a3b8;
text-decoration:none;
margin-left:20px;
}
.navbar a:hover{color:#38bdf8;}

/* HERO */

.hero{
padding:80px 20px;
text-align:center;
background:#020617;
border-bottom:1px solid #1e293b;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.hero p{
color:#94a3b8;
}

/* BLOG GRID */

.blog-grid{
padding:70px 8%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

/* BLOG CARD */

.card{
background:#020617;
padding:25px;
border:1px solid #1e293b;
border-radius:10px;
transition:.3s;
}

.card:hover{
border-color:#38bdf8;
transform:translateY(-6px);
}

.tag{
font-size:12px;
color:#38bdf8;
margin-bottom:8px;
display:block;
}

.card h3{
margin-bottom:10px;
}

.card p{
color:#94a3b8;
margin-bottom:14px;
}

.card a{
text-decoration:none;
color:#38bdf8;
font-size:14px;
}

/* FOOTER */

.footer{
background:#020617;
border-top:1px solid #1e293b;
padding:60px 8% 20px;
margin-top:60px;
}

.footer-content{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
margin-bottom:30px;
}

.footer h3,.footer h4{color:white;}

.footer p{
color:#94a3b8;
margin-top:6px;
font-size:14px;
}

copyright{
text-align:center;
}
