body{
font-family:Arial;
background:#f4f7fb;
color:#222;
margin:0;
}

.nav{
display:flex;
justify-content:space-between;
padding:15px 8%;
background:white;
box-shadow:0 2px 6px rgba(0,0,0,0.08);
}

.container{
padding:50px 8%;
display:grid;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 14px rgba(0,0,0,0.05);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

button{
padding:10px 18px;
background:#5a67ff;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
}

/* DARK MODE */

.dark{
background:#111827;
color:white;
}

.dark .card{
background:#1f2937;
}

.dark .nav{
background:#1f2937;
}
